{
  "GOVEE_API_KEY": "your-govee-api-key-here",
  "DEVICES": [
    {
      "device": "AA:BB:CC:DD:EE:FF:GG:HH",
      "sku": "H601F",
      "name": "Govee Downlight 1"
    },
    {
      "device": "AA:BB:CC:DD:EE:FF:GG:II",
      "sku": "H601F",
      "name": "Govee Downlight 2"
    }
  ]
}
